.blog-article p {
  font-family: serif;
  font-size: 110%;
}

.detail-lh p {
  font-size: 120%;
  line-height: 1.6;
}
@media (max-width: 767px) {
  .mob-sc {
    display: none;
  }
  .mob-sc-a {
    position: relative;
  }
  .mob-sc-b {
    display: block;
  }
}
