{% extends 'home/base.html' %}
{% block content %}
<div class="col-md-8 offset-md-2">
    <h1>Blog Page</h1>
    <a href="{% url 'blog:blog_new_post' %}">Create a New Post</a>
    <hr>
    {% for post in posts %}
    <h2><a href="{% url 'blog:blog_detail' post.pk %}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog:blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ post.content | slice:":400" }}...</p>
    {% endfor %}
</div>
{% endblock %}
